<form class="dronetable" action="/drones/link_drone_to_company" method="POST">
	<input name="authenticity_token" type="hidden" value="{{auth_token}}" />
	<input name="drone_id" type="hidden" value="{{drone.id}}" />
	<table>
		<tr>
			<th>IP</th>
			<td>{{drone.ip}}</td>
		</tr>
		<tr>
			<th>Location</th>
			<td>{{drone.location}}</td>
		</tr>
		<tr>
			<td>
				<input type="submit" value="Link to" class="button" />
			</td>
			<td>
				<select name="company_id" class="button">
				{{#each companies}}
				  <option value="{{id}}">{{name}}</option>
				{{/each}}
				</select>
			</td>
		</tr>
	</table>
</form>
