<% @page_title = "Edit Role: #{@role.title}" %>

<div class="role edit" data-id="<%= @role.id %>">
	<h2>Update Role</h2>

	<div class="formwrapper">
	<%= render 'form' %>


	<form class="users">
		<ul>
			<% @role.users.each do |u| %>
				<%= render "roles/user_item", :handlebars => u.as_json %>
			<% end %>
		</ul>
		<input type="text" class="search_field" />
	</form>
	</div>
	<form class="privileges">
		<ul>
			<% @role.privileges.each do |p| %>
				<%= render "roles/privilege_item", :handlebars => p.as_json %>
			<% end %>
		</ul>
		<div class="tooltip">
			<h3>Description</h3>
			<p></p>
		</div>
	</form>

	<br />
	<a class="add_privilege button" style="margin-left:72px; margin-top: 10px;">Add privilege</a>

</div>

<%= link_to "Back", roles_path, :class => 'button back' %>
