<% @page_title = "Edit Role: #{@role.title}" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="role edit" data-id="<%= @role.id %>">
	<h2>Update role</h2>

	<div class="formwrapper">
	<%= form_for(:role, :url => {:action => 'update', :id => @role.id}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>
	<% end %>
	<form class="users">
		<ul>
			<% @role.users.each do |u| %>
				<%= render "roles/user_item", :handlebars => u.as_json %>
			<% end %>
		</ul>
		<input type="text" class="search_field" />
	</form>
	</div>
	<form class="privileges">
		<ul>
			<% @role.privileges.each do |p| %>
				<%= render "roles/privilege_item", :handlebars => p.as_json %>
			<% end %>
		</ul>
		<div class="tooltip">
			<h3>Description</h3>
			<p></p>
		</div>
	</form>

</div>

