<% @page_title = "Roles List" %>

<div class="roles list">
  <h2>Roles</h2>

  <table id="rolelist" class="listing" summary="Roles list">
    <tr class="header">
      <th>Title</th>
      <th>Actions</th>
    </tr>

    <% @roles.each do |role| %>
      <tr>
        <td><%= unless role.title.blank? then role.title else render "globals/undefined" end %></td>
        <td class="actions">
          <%= link_to '', role, :class => "show" %>
          <%= link_to '', edit_role_path(role), :class => "edit" %>
          <%= link_to '', role, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete" %>
        </td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= link_to 'New Role', new_role_path, :class => "button" %>
</div>

