<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf8">
		<title>Drone Control | <%= @page_title ||  'Admin Area' %></title>
		<%= stylesheet_link_tag('application', :media => 'all') %>
		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<div class="background">
				<div id="toplogo"></div>
				<%= render 'access/menu' %>
			</div>
			<div class="identity"><%= session[:user_email] %><div class="icon"></div></div>
			<% if !flash[:notice].blank? %>
				<div class="notice">
					<p>
						<%= flash[:notice] %>
					</p>
				</div>
			<% end %>
		</header>
		<div id="main">

			<div id="content">
				<%= yield %>
			</div>
		</div>
		<footer>
			<p id="copyright">&copy; sw701e12 &mdash; Aalborg University 2012</p>
		</footer>		
	</body>
</html>