<% @page_title = "Privileges List" %>

<div class="privileges list">
  <h2>Privileges</h2>

  <table id="privilegelist" class="listing" summary="Privileges list">
    <tr class="header">
      <th>Identifier</th>
      <th>Description</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>

    <% @privileges.each do |privilege| %>
      <tr>
        <td><%= unless privilege.identifier.blank? then privilege.identifier else render "globals/undefined" end %></td>
        <td><%= unless privilege.description.blank? then privilege.description else render "globals/undefined" end %></td>
        <td><%= unless privilege.type.blank? then privilege.type else render "globals/undefined" end %></td>
        <td class="actions">
          <%= link_to '', privilege, :class => "show" %>
          <%= link_to '', edit_privilege_path(privilege), :class => "edit" %>
          <%= link_to '', privilege, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete" %>
        </td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= link_to 'New Privilege', new_privilege_path, :class => "button" %>
</div>

