<h1>Editing company</h1>

<%= render 'form' %>

<%= link_to 'Add Drone To Company', drones_company_path %> |
<%= link_to 'Manage Users', users_company_path %> |
<%= link_to 'Manage Privileges', privileges_company_path %> |
<%= link_to 'Manage Roles', roles_company_path %>

<br /><br />
<%= link_to 'Back', companies_path, :class => 'button back' %>
