<h1>Editing company</h1>

<%= render 'form' %>

<%= link_to 'Add Drone To Company', drones_company_path %> |
<%= link_to 'Edit Company Users', users_company_path %> |
<%= link_to 'Show', @company %> |
<%= link_to 'Back', companies_path %>
