<h1>Listing companies</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Owner</th>
    <th>Actions</th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= company.id %></td>
    <td><%= company.name %></td>
    <td><%= company.owner.full_name unless company.owner.nil? %></td>
    <td class="actions">
      <%= link_to 'Show', company %>
      <%= link_to 'Edit', edit_company_path(company) %>
      <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Company', new_company_path %>
