<% @page_title = "Companies List" %>

<div class="companies list">
  <h2>Companies</h2>

  <table id="companylist" class="listing" summary="Companies list">
    <tr class="header">
      <th>Name</th>
      <th>Owner</th>
      <th>Actions</th>
    </tr>

    <% @companies.each do |company| %>
      <tr>
        <td><%= unless company.name.blank? then company.name else render "globals/undefined" end %></td>
        <td><%= unless company.owner.full_name.blank? then company.owner.full_name else render "globals/undefined" end %></td>
        <td class="actions">
          <%= link_to '', company, :class => "show" %>
          <%= link_to '', edit_company_path(company), :class => "edit" %>
          <%= link_to '', company, method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete" %>
        </td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= link_to 'New Company', new_company_path, :class => "button" %>
</div>
