<%= form_for(@drone) do |f| %>
  <% if @drone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drone.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @drone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= label_tag(:ip) %>
	<%= f.text_field(:ip) %>

  <%= label_tag(:location) %>
	<%= f.text_field(:location) %>

  <%= label_tag(:name) %>
	<%= f.text_field(:name) %>

  <%= label_tag(:description) %>
	<%= f.text_area(:description) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


