<%= form_for(@drone) do |f| %>
  <% if @drone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drone.errors.count, "error") %> prohibited this role from being saved:</h2>

      <ul>
      <% @drone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<th>IP</th>
	<%= f.text_field(:ip) %>

	<th>Location</th>
	<%= f.text_field(:location) %>

	<th>Name</th>
	<%= f.text_field(:name) %>

	<th>Description</th>
	<%= f.text_area(:description) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


