<% @page_title = "Drones List" %>

<div class="drones list">
	<h2>Drones</h2>
	<table class="listing" summary="drones list">
		<tr class="header">
			<th>Name</th>
			<th>Location</th>
			<th>IP</th>
			<th>Actions</th>
		</tr>

		<% @drones.each do |drone| %>
			<tr>
				<td><%= unless drone.name.blank? then  else render "globals/undefined" end %></td>
				<td><%= unless drone.location.blank? then drone.location else render "globals/undefined" end %></td>
				<td><%= unless drone.ip.blank? then drone.ip else render "globals/undefined" end %></td>
				<td class="actions">
					<%= link_to 'Show', drone %>
      				<%= link_to 'Edit', edit_drone_path(drone) %>
      				<%= link_to 'Destroy', drone, method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
			</tr>
		<% end %>
	</table>
	<br />
	<%= link_to("<< Back to Menu", {:controller => 'admin'}, :class => 'back-link') %><br />
</div>
