
<h2><%= @drone.name %> at <%= @drone.location %></h2>

<div id="drone_app"></div>
<% unless @drone.session.nil? %>
    <%= swf_tag('drone_app', {:flashvars => {:server_ip => @drone.ip, :session_key => @drone.session.session_key, :piloting => 'true'}, :size => "640x480", :version => '10.0'}) %>
<% else %>
    <%= swf_tag('drone_app', {:flashvars => {:server_ip => @drone.ip}, :size => "640x480", :version => '10.0'}) %>
<% end %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>
